<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.along.mapper.UserMapper">

    <select id="findUserInfo" resultType="com.along.model.User">
      select name, age,password from user;
    </select>


    <!-- 创建用户(Create) -->
    <insert id="insertUser" parameterType="com.along.model.User">
        insert into user(id,name,age,password) values(#{id},#{name},#{age}, #{password})
    </insert>

    <!-- 删除用户(Remove) -->
    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{id}
    </delete>

    <!-- 修改用户(Update) -->
    <update id="updateUser" parameterType="com.along.model.User">
        update user set name=#{name},age=#{age} where id=#{id}
    </update>

</mapper>